[project]
	description = Lightweight jQuery + CSS plugin for creating responsive, dynamic & customizable pinterest like grid with diferent column width support and few display mods.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marek Fajkus (turboMaCk)
[access "refs/for/refs/*"]
	read = group user/Marek Fajkus (turboMaCk)
	push = group user/Marek Fajkus (turboMaCk)
	label-Code-Review = -2..+2 group user/Marek Fajkus (turboMaCk)
	label-Verified = -1..+1 group user/Marek Fajkus (turboMaCk)
	rebase = group user/Marek Fajkus (turboMaCk)
	removeReviewer = group user/Marek Fajkus (turboMaCk)
	submit = group user/Marek Fajkus (turboMaCk)
[access "refs/heads/*"]
	read = group user/Marek Fajkus (turboMaCk)
	create = group user/Marek Fajkus (turboMaCk)
	push = +force group user/Marek Fajkus (turboMaCk)
	pushMerge = group user/Marek Fajkus (turboMaCk)
[access "refs/tags/*"]
	push = +force group user/Marek Fajkus (turboMaCk)
	pushTag = group user/Marek Fajkus (turboMaCk)
	pushSignedTag = group user/Marek Fajkus (turboMaCk)
